In [1]:
import pandas as pd
from pathlib import Path

In [2]:
school_data = Path('Resources/schools_complete.csv')
student_data = Path('Resources/students_complete.csv')

In [3]:
school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)

In [9]:
school_data_complete = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [26]:
school_count = len(school_data_complete["school_name"].unique())
student_count = len(school_data_complete["student_name"])
print(school_count)
print(student_count)

15
39170

In [44]:
total_budget = sum(school_data_complete['budget'].unique())
print(total_budget)

24649428

In [18]:
avg_math = school_data_complete['math_score'].mean()
print(avg_math)

78.98537145774827

In [19]:
avg_read = school_data_complete['reading_score'].mean()
print(avg_read)

81.87784018381414

In [27]:
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [29]:
passing_read_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_read_percentage = passing_read_count / float(student_count) * 100
passing_read_percentage

85.80546336482001

In [30]:
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [45]:
district_summary = pd.DataFrame([
    {'Total Schools': school_count,
    'Total Students': student_count,
    'Total Budget': total_budget,
    'Average Math Score': avg_math,
    'Average Reading Score': avg_read,
    '% Passing Math': passing_math_percentage,
    '% Passing Reading': passing_read_percentage,
    '% Overall Passing': overall_passing_rate}
])

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [32]:
school_types = len(school_data_complete["type"].unique())
school_types

2

In [50]:
per_school_counts = school_data_complete['school_name'].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64